API_URL=http://IP_O_DOMINIO_DEL_BACKEND:3000
LOGIN_ENDPOINT=/api/v1/auth/login

TEST_USER_EMAIL=TEST_USUARIO_001@digiclin.test
TEST_USER_PASSWORD=CAMBIAR_PASSWORD
TEST_USER_WRONG_PASSWORD=PasswordIncorrecta123